{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}

	<div class="display-grid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('app_home') }}">Нүүр хуудас</a>
				</li>

				<li class="breadcrumb-item">
					<a href="{{ path('app_currency_index') }}">Ханшийн мэдээлэл</a>
				</li>

				<li class="breadcrumb-item active" aria-current="page">
					Нэмэх
				</li>
			</ol>
		</nav>
	</div>
	<br>

	<div>
		<span>Та энэхүү файл дээр ханшийн мэдээлэл(монгол)-ийг оруулна уу!</span>
		<a href="{{ path('app_currency_download_example_file') }}" class="btn btn-info">
			жишээ татах</a>
	</div>
	<br>


	<div>
		<span>Та энэхүү файл дээр ханшийн мэдээлэл(англи)-ийг оруулна уу!</span>
		<a href="{{ path('app_currency_download_example_file_second') }}" class="btn btn-info">
			жишээ татах</a>
	</div>

	<br>
	<br>


	{% include 'layout/flash.html.twig' %}

	{{ form_start(currencyForm) }}

	<div class="form-group">
		{{ form_row(currencyForm.file) }}
	</div>

	<div class="form-group">
		{{ form_row(currencyForm.enFile) }}
	</div>

	<div class="form-group">
		{{ form_row(currencyForm.active) }}
	</div>

	<div class="form-group">
		{{ form_row(currencyForm.CurrencyDate) }}
	</div>

	{{ form_end(currencyForm) }}
{% endblock %}
