{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							Ханшийн мэдээлэл
						</li>
					</ol>
				</nav>
			</div>

			<div>
				<a href="{{ path('app_currency_create') }}" class="btn btn-primary btn-sm">
					+ Шинээр нэмэх</a>
			</div>

			<br>

			{% include 'layout/flash.html.twig' %}

			<div class="table-responsive">
				<table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>№</th>
							<th>Суурь</th>
							{# <th>Үнэлгээ</th> #}
							<th>Он сар</th>
							<th>Үүсгэсэн хэрэглэгч</th>
							{# <th>#</th> #}
						</tr>
					</thead>
					<tbody>
						{% for currency in currencys %}
							<tr>
								<td>{{ currency.id }}</td>
								<td>{{ currency.base }}</td>
								{# <td>{{ currency.rates }}</td> #}
								<td>{{ currency.currencyDate|date('Y-m-d') }}</td>
								{# <td>
																									<a href="{{ path('app_banner_edit', {'id' : currency.id}) }}" class="btn btn-primary btn-sm">
																										<i class="fas fa-edit"></i>
																									</a>
																								</td> #}
							</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</div>
{% endblock %}
