{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}

	<div class="display-grid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('app_home') }}">Нүүр хуудас</a>
				</li>

				<li class="breadcrumb-item">
					<a href="{{ path('app_partner_organization_index') }}">Хамтрагч байгууллага</a>
				</li>

				<li class="breadcrumb-item active" aria-current="page">
					Нэмэх
				</li>
			</ol>
		</nav>
	</div>

	{% include 'layout/flash.html.twig' %}

	{{ form_start(organizationForm) }}

	<div class="form-group">
		{{ form_row(organizationForm.name) }}
	</div>

	<div class="form-group">
		{{ form_row(organizationForm.mnTitle) }}
	</div>

	<div class="form-group">
		{{ form_row(organizationForm.enTitle) }}
	</div>

	<div class="form-group">
		{{ form_row(organizationForm.cnTitle) }}
	</div>

	<div class="form-group">
		{{ form_row(organizationForm.imageFile) }}
	</div>


	<div class="form-group">
		{{ form_row(organizationForm.active) }}
	</div>


	<div class="form-group">
		{{ form_row(organizationForm.iconFile) }}
	</div>

	<div class="form-group">
		{{ form_row(organizationForm.mnDescription) }}
	</div>

	<div class="form-group">
		{{ form_row(organizationForm.enDescription) }}
	</div>

	<div class="form-group">
		{{ form_row(organizationForm.cnDescription) }}
	</div>

	<div class="form-group">
		{{ form_row(organizationForm.contact) }}
	</div>

	<div class="form-group">
		{{ form_row(organizationForm.address) }}
	</div>

	{{ form_end(organizationForm) }}</div></div>{% endblock %}
