{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							Хамтрагч байгууллагууд
						</li>
					</ol>
				</nav>
			</div>

			<div>
				<a href="{{ path('app_partner_organization_create') }}" class="btn btn-primary btn-sm">
					+ Шинээр нэмэх</a>
			</div>

			<br>

			{% include 'layout/flash.html.twig' %}

			<div class="table-responsive">
				<table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>№</th>
							<th>Байгууллагийн нэр</th>
							<th>Нэр (Монгол)</th>
							<th>Нэр (Англи)</th>
							<th>Нэр (Хятад)</th>
							<th>Төлөв</th>
							<th>Зураг</th>
							<th>Лого</th>
							<th>Тайлбар (Монгол)</th>
							<th>Тайлбар (Англи)</th>
							<th>Тайлбар (Хятад)</th>
							<th>Холбоо барих</th>
							<th>Хаяг</th>
							{# <th>Үүсгэсэн админ</th> #}
							<th>#</th>
						</tr>
					</thead>
					<tbody>
						{% for partnerOrganization in partnerOrganizations %}
							<tr>
								<td>{{ partnerOrganization.id }}</td>
								<td>{{ partnerOrganization.name }}</td>
								<td>{{ partnerOrganization.mnTitle }}</td>
								<td>{{ partnerOrganization.enTitle }}</td>
								<td>{{ partnerOrganization.cnTitle }}</td>
								<td>
									{% if partnerOrganization.active == true %}
										<b style="color: darkgreen">Идэвхитэй</b>
									{% else %}
										<b style="color: red">Идэвхигүй</b>
									{% endif %}
								</td>
								<td><img src="{{ asset("app.path.image/" ~ partnerOrganization.imageUrl) }}"></td>
								<td><img src="{{ asset("app.path.image/" ~ partnerOrganization.icon) }}"></td>
								<td>{{ partnerOrganization.mnDescription }}</td>
								<td>{{ partnerOrganization.enDescription }}</td>
								<td>{{ partnerOrganization.cnDescription }}</td>
								<td>{{ partnerOrganization.contact }}</td>
								<td>{{ partnerOrganization.address }}</td>
								{# <td>{{ partnerOrganization.createdUser }}</td> #}
								<td>
									<a href="{{ path('app_partner_organization_edit', {'id' : partnerOrganization.id}) }}" class="btn btn-primary btn-sm">
										<i class="fas fa-edit"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</tr>
			</tbody>
		</tbody>
	</table>
</div></div></div>{% endblock %}
