{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}

	<div class="display-grid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('app_home') }}">Нүүр хуудас</a>
				</li>

				<li class="breadcrumb-item">
					<a href="{{ path('app_map_index') }}">Төсөл хөтөлбөр</a>
				</li>

				<li class="breadcrumb-item active" aria-current="page">
					Нэмэх
				</li>
			</ol>
		</nav>
	</div>

	{% include 'layout/flash.html.twig' %}

	{{ form_start(mapForm) }}

	<div class="form-group">
		{{ form_row(mapForm.mnName) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.enName) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.cnName) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.mnDescription) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.imageFile) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.enDescription) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.cnDescription) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.mnBody) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.enBody) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.cnBody) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.active) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.mapType) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.latitude) }}
	</div>

	<div class="form-group">
		{{ form_row(mapForm.longitude) }}
	</div>

	{{ form_end(mapForm) }}
{% endblock %}
