{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}
{% block body %}


	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							<a href="{{ path('app_structure_index') }}">Компаний бүтэц</a>
						</li>

						<li class="breadcrumb-item active" aria-current="page">
							Засах
						</li>
					</ol>
				</nav>
			</div>

			{% include 'layout/flash.html.twig' %}

			{{ form_start(structureForm) }}


			<div class="form-group">
				{{ form_row(structureForm.mnName) }}
			</div>
			<div class="form-group">
				{{ form_row(structureForm.enName) }}
			</div>
			<div class="form-group">
				{{ form_row(structureForm.cnName) }}
			</div>

			<div class="form-group">
				{{ form_row(structureForm.mnBody) }}
			</div>

			<div class="form-group">
				{{ form_row(structureForm.enBody) }}
			</div>
			<div class="form-group">
				{{ form_row(structureForm.cnBody) }}
			</div>

			<div class="form-group">
				{{ form_row(structureForm.web) }}
			</div>

			<div class="form-group">
				{{ form_row(structureForm.phone) }}
			</div>


			<div class="form-group">
				{{ form_row(structureForm.iconFile) }}
			</div>

			<div class="form-group">
				{{ form_row(structureForm.mnAddress) }}
			</div>
			<div class="form-group">
				{{ form_row(structureForm.enAddress) }}
			</div>
			<div class="form-group">
				{{ form_row(structureForm.cnAddress) }}
			</div>

			{{ form_end(structureForm) }}

		</div>
	</div>

{% endblock %}
