{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}
{% block body %}


	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							<a href="{{ path('app_banner_index') }}">Үндсэн цэс</a>
						</li>

						<li class="breadcrumb-item active" aria-current="page">
							Засах
						</li>
					</ol>
				</nav>
			</div>

			{% include 'layout/flash.html.twig' %}

			{{ form_start(mainCategoryForm) }}

			<div class="form-group">
				{{ form_row(mainCategoryForm.mnName) }}
			</div>

			<div class="form-group">
				{{ form_row(mainCategoryForm.enName) }}
			</div>

			<div class="form-group">
				{{ form_row(mainCategoryForm.cnName) }}
			</div>

			<div class="form-group">
				{{ form_row(mainCategoryForm.priority) }}
			</div>


			<div class="form-group">
				{{ form_row(mainCategoryForm.active) }}
			</div>


			<div class="form-group">
				{{ form_row(mainCategoryForm.url) }}
			</div>

			{{ form_end(mainCategoryForm) }}

		</div>
	</div>

{% endblock %}
