{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}
	<div class="display-grid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('app_home') }}">Нүүр хуудас</a>
				</li>

				<li class="breadcrumb-item">
					<a href="#">Мэдээ мэдээлэл</a>
				</li>

				<li class="breadcrumb-item">
					<a href="#">Мэдээ HTML</a>
				</li>

				<li class="breadcrumb-item active" aria-current="page">
					Нэмэх
				</li>
			</ol>
		</nav>
	</div>
	<div class="card">
		<div class="card-body">

			<hr>
			{% include 'layout/flash.html.twig' %}
			{{ form_start(form) }}
			{{ form_row(form.name) }}
			{{ form_row(form.body) }}
			{{ form_row(form.priority) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
