{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							Нүүр график
						</li>
					</ol>
				</nav>
			</div>

			<div>
				<a href="{{ path('app_content_home_graph_index') }}" class="btn btn-primary btn-sm">
					+ Шинээр нэмэх</a>
			</div>

			<br>

			<h4>
				Таны оруулсан сүүлийн идэвхтэй график харагдах болно.
			</h4>

			<br>


			{% include 'layout/flash.html.twig' %}

			<div class="table-responsive">
				<table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>№</th>
							<th>График тайлбар(монгол)</th>
							<th>График тайлбар(англи)</th>
							<th>График тайлбар(хятад)</th>
							<th>График төрөл</th>
							<th>Төлөв</th>
							<th>#</th>
						</tr>
					</thead>
					<tbody>
						{% for content in contents %}
							<tr>
								<td>{{ content.id }}</td>
								<td>{{ content.mnDescription }}</td>
								<td>{{ content.enDescription }}</td>
								<td>{{ content.cnDescription }}</td>
								<td>{{ content.graphType }}</td>
								<td>
									{% if content.active == true %}
										<b style="color: darkgreen">Идэвхитэй</b>
									{% else %}
										<b style="color: red">Идэвхигүй</b>
									{% endif %}
								</td>
								<td>
									<a href="{{ path('app_content_edit_home_chart', {'id' : content.id}) }}" class="btn btn-primary btn-sm">
										<i class="fas fa-edit"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% if contents|length > 0 %}
				{% include 'layout/pagination.html.twig' %}
			{% endif %}
		</div>
	</div>
{% endblock %}
