{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}
{% block body %}


    <div class="card">
        <div class="card-body">
            <div class="display-grid">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_home') }}">Нүүр хуудас</a>
                        </li>

                        <li class="breadcrumb-item">
                            <a href="{{ path('app_admin_index') }}">Админ</a>
                        </li>

                        <li class="breadcrumb-item active"
                            aria-current="page">
                            Нэмэх
                        </li>
                    </ol>
                </nav>
            </div>

            {% include 'layout/flash.html.twig' %}

            {{ form_start(adminForm) }}

            <div class="form-group">
                {{ form_row(adminForm.username) }}
            </div>

            <div class="form-group">
                {{ form_row(adminForm.password) }}
            </div>


            <div class="form-group">
                {{ form_row(adminForm.isVerified) }}
            </div>


            <div class="form-group">
                {{ form_row(adminForm.roles) }}
            </div>

            <div class="form-group">
                {{ form_row(adminForm.save) }}
            </div>

            {{ form_end(adminForm) }}

        </div>
    </div>

{% endblock %}
