{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>
						<li class="breadcrumb-item">
							<a href="{{ path('app_news_index') }}">Мэдээ мэдээлэл</a>
						</li>
						
						{% if newsId %}
						<li class="breadcrumb-item">
						 <a href="{{ path('app_news_contents',{'id':newsId}) }}" >Агуулгууд</a>	
						</li>
						{% else %}
						<li class="breadcrumb-item">
						 <a href="{{ path('app_content_chart_index') }}" >Мэдээний график</a>	
						</li>
						{% endif %}
						<li class="breadcrumb-item">
							График сонгох
						</li>
					</ol>
				</nav>
			</div>
			<br>
			<div class="list-group">
				<a href="{{ path('app_content_create_chart', {'chartName': 'LineGraph','newsId':newsId}) }}" class="list-group-item list-group-item-action">
					Шугаман график
				</a>
				<a href="{{ path('app_content_create_chart', {'chartName': 'ColumnGraph','newsId':newsId}) }}" class="list-group-item list-group-item-action">Баганан график
				</a>
				<a href="{{ path('app_content_create_chart', {'chartName': 'DonutGraph','newsId':newsId}) }}" class="list-group-item list-group-item-action">Pie, Donut график
				</a>
				<a href="{{ path('app_content_create_chart', {'chartName': 'TreemapGraph','newsId':newsId}) }}" class="list-group-item list-group-item-action">Tree map график
				</a>
				<a href="{{ path('app_content_create_chart', {'chartName': 'CaugeGraph','newsId':newsId}) }}" class="list-group-item list-group-item-action">Метрик график
				</a>
				<a href="{{ path('app_content_create_home_chart', {'chartName': 'DualAxesGraph','newsId':newsId}) }}" class="list-group-item list-group-item-action">Dual axes график
				</a>

			</div>
		</div>
	</div>
{% endblock %}
