{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}

	<div class="display-grid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('app_home') }}">Нүүр хуудас</a>
				</li>

				<li class="breadcrumb-item">
					<a href="{{ path('app_news_index') }}">Мэдээ мэдээлэл</a>
				</li>

				{% if newsId %}
					<li class="breadcrumb-item">
						<a href="{{ path('app_news_contents',{'id':newsId}) }}">Агуулгууд</a>
					</li>
				{% else %}
					<li class="breadcrumb-item">
						<a href="{{ path('app_content_chart_index') }}">Мэдээний график</a>
					</li>
				{% endif %}

				<li class="breadcrumb-item active" aria-current="page">
					Нэмэх
				</li>
			</ol>
		</nav>
	</div>

	<br>

	<div>
		<span>Та энэхүү файл дээр графикт оруулах өгөгдлүүдээ оруулна уу!</span>
		<a href="{{ path('app_content_download_example_file', {'chartName': pathName}) }}" class="btn btn-info">
			жишээ татах</a>
	</div>

	<br>

	{% include 'layout/flash.html.twig' %}

	{{ form_start(contentChartForm) }}

	<div class="form-group">
		{{ form_row(contentChartForm.name) }}
	</div>

	<div class="form-group">
		{{ form_row(contentChartForm.file) }}
	</div>

	<div class="form-group">
		{{ form_row(contentChartForm.priority) }}
	</div>

	<div class="form-group">
		{{ form_row(contentChartForm.active) }}
	</div>

	<div class="form-group" id="relatedNews">
		{{ form_row(contentChartForm.News) }}
	</div>


	{{ form_end(contentChartForm) }}
{% endblock %}

{% block scripts %}
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var newsId = {{ newsId }}+"";
if (newsId ) {
document.getElementById('relatedNews').style.display = 'none';
}
});
	</script>
{% endblock %}
