{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}
{% block body %}


	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							<a href="{{ path('app_news_index') }}">Мэдээ
							</a>
						</li>
						{% if newsId %}
							<li class="breadcrumb-item">
								<a href="{{ path('app_news_contents',{'id':newsId}) }}">Агуулгууд</a>
							</li>
						{% else %}
							<li class="breadcrumb-item">
								<a href="{{ path('app_content_chart_index') }}">Мэдээний график</a>
							</li>
						{% endif %}

						<li class="breadcrumb-item active" aria-current="page">
							Засах
						</li>
					</ol>
				</nav>
			</div>

			{% include 'layout/flash.html.twig' %}

			{{ form_start(editForm) }}

			<div class="form-group">
				{{ form_row(editForm.name) }}
			</div>

			<div class="form-group">
				{{ form_row(editForm.priority) }}
			</div>

			<div class="form-group">
				{{ form_row(editForm.active) }}
			</div>

			<div class="form-group">
				{{ form_row(editForm.graphType,{'attr':{'onChange':"run()"}}) }}
			</div>
			{% if editForm.graphType.vars.value != "" %}
				<div>
					<span>Та энэхүү файл дээр графикт оруулах өгөгдлүүдээ оруулах!</span>
					<a id="downloadExampleLink" href="{{ path('app_content_download_example_file', {'chartName': editForm.graphType.vars.value}) }}" class="btn btn-info">
						жишээ татах</a>
				</div>
			{% endif %}

			{{ form_end(editForm) }}

		</div>
	</div>

	<script>
		function run() {
var e = document.getElementById("chart_data_edit_form_graphType");

var value = e.value;
document.getElementById('downloadExampleLink').setAttribute("href", "/content/download-example-file?chartName=" + value);
}
	</script>

{% endblock %}


{% block scripts %}
	<script>
		document.addEventListener("DOMContentLoaded", function () {
	var newsId = {{ newsId }}+"";
if (newsId ) {
document.getElementById('relatedNews').style.display = 'none';
}
});
	</script>
{% endblock %}
