{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}


	<div class="card shadow mb-4">
		<div class="card-header py-3">

			<div>
				<a href="{{ path('app_admin_create') }}" class="btn btn-primary btn-sm">
					+ Шинээр нэмэх</a>
			</div>
			<hr>

			<h6 class="m-0 font-weight-bold text-primary">{{ section_title }}</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>id</th>
							<th>Монгол тайлбар</th>
							<th>Англи тайлбар</th>
							<th>Хятад тайлбар</th>
							<th>Статус</th>
							<th>Зураг</th>
							<th>icon</th>
							<th>Эхлэх хугацаа</th>
							<th>Дуусах хугацаа</th>
							<th>Үүсгэсэн хэрэглэгч</th>
							<th>Үүсгэсэн хугацаа</th>
							<th>Үүсгэсэн хугацаа</th>
						</tr>
					</thead>
					<tbody>
						{% for banner in banners %}
							<tr>
								<td>{{ banner.id }}</td>
								<td>{{ banner.mnText }}</td>
								<td>{{ banner.enText }}</td>
								<td>{{ banner.cnText }}</td>
								<td>{{ banner.active }}</td>
								<td>{{ banner.imageUrl }}</td>
								<td>{{ banner.icon }}</td>
								<td>{{ banner.startedDate }}</td>
								<td>{{ banner.endDate }}</td>
								<td>{{ banner.endDate }}</td>
								<td>{{ banner.type }}</td>

								<td>{{ banner.endDate }}</td>


								<td>
									<button type="button" class="btn btn-success">
										<i class="fas fa-edit"></i>
									</button>
									<button type="button" class="btn btn-danger">
										<i class="far fa-trash-alt"></i>
									</button>
								</td>
							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>


{% endblock %}
