{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							Баннер
						</li>
					</ol>
				</nav>
			</div>

			<div>
				<a href="{{ path('app_banner_create') }}" class="btn btn-primary btn-sm">
					+ Шинээр нэмэх</a>
			</div>

			<br>

			{% include 'layout/flash.html.twig' %}

			<div class="table-responsive">
				<table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>№</th>
							<th>Тайлбар(Монгол)</th>
							<th>Тайлбар(Англи)</th>
							<th>Тайлбар(Хятад)</th>
							<th>Төлөв</th>
							<th>Зураг</th>
							<th>icon</th>
							<th>Эхлэх хугацаа</th>
							<th>Дуусах хугацаа</th>
							<th>#</th>
						</tr>
					</thead>
					<tbody>
						{% for banner in banners %}
							<tr>
								<td>{{ banner.id }}</td>
								<td>{{ banner.mnText }}</td>
								<td>{{ banner.enText }}</td>
								<td>{{ banner.cnText }}</td>
								<td>
									{% if banner.active == true %}
										<b style="color: darkgreen">Идэвхитэй</b>
									{% else %}
										<b style="color: red">Идэвхигүй</b>
									{% endif %}
								</td>
								<td style="width: 100px; height: auto;"><img src="{{ asset("uploads/image/" ~ banner.imageUrl) }}" class="img-fluid" alt="Banner Image"></td>
								<td style="width: 100px; height: auto;"><img src="{{ asset("uploads/image/" ~ banner.icon) }}" class="img-fluid" alt="Banner Image"></td>
								<td>{{ banner.startedDate|date('Y-m-d') }}</td>
								<td>{{ banner.endDate|date('Y-m-d') }}</td>
								<td>
									<a href="{{ path('app_banner_edit', {'id' : banner.id}) }}" class="btn btn-primary btn-sm">
										<i class="fas fa-edit"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>

			{% if banners|length > 0 %}
				{% include 'layout/pagination.html.twig' %}
			{% endif %}
		</div>
	</div>
{% endblock %}
