{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}
{% block body %}


	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							<a href="{{path('app_job_ads_index')}}">Ажлын байрны зар</a>
						</li>

						<li class="breadcrumb-item active" aria-current="page">
							Засах
						</li>
					</ol>
				</nav>
			</div>

			{% include 'layout/flash.html.twig' %}

			{{ form_start(form) }}
			{{ form_row(form.title) }}
			{{ form_row(form.enTitle) }}
			{{ form_row(form.cnTitle) }}
			{{ form_row(form.body) }}
			{{ form_row(form.enBody) }}
			{{ form_row(form.cnBody) }}
			{{ form_row(form.profession) }}
			{{ form_row(form.enProfession) }}
			{{ form_row(form.cnProfession) }}
			{{ form_row(form.active) }}
			{{ form_row(form.applicationDeadline) }}
			{{ form_row(form.createdAt) }}

			{{ form_end(form) }}

		</div>
	</div>

{% endblock %}
