{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}
{% block body %}


	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							<a href="{{ path('app_banner_index') }}">Туслах цэс</a>
						</li>

						<li class="breadcrumb-item active" aria-current="page">
							Засах
						</li>
					</ol>
				</nav>
			</div>

			{% include 'layout/flash.html.twig' %}

			{{ form_start(subCategoryForm) }}

			<div class="form-group">
				{{ form_row(subCategoryForm.mnName) }}
			</div>

			<div class="form-group">
				{{ form_row(subCategoryForm.enName) }}
			</div>

			<div class="form-group">
				{{ form_row(subCategoryForm.cnName) }}
			</div>

			<div class="form-group">
				{{ form_row(subCategoryForm.priority) }}
			</div>

			<div class="form-group">
				{{ form_row(subCategoryForm.active) }}
			</div>

			<div class="form-group" id="create-type-field" style="display: none;">
				<p>
					Шинээр мэдээний төрөл үүсгэх
				</p>

				<a href="{{ path('app_news_type_create') }}" class="btn btn-success btn-sm">
					Шинэ төрөл нэмэх</a>
			</div>

			<div class="form-group" id="redirectLink-field" style="display: none;">
				{{ form_row(subCategoryForm.redirectLink) }}
			</div>

			<div class="form-group" id="newsId-field" style="display: none;">
				{{ form_row(subCategoryForm.newsId) }}
			</div>

			<div class="form-group" id="newsType-field" style="display: none;">
				{{ form_row(subCategoryForm.newsType) }}
			</div>

			{{ form_end(subCategoryForm) }}

		</div>
	</div>

{% endblock %}
