{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}
{% block body %}


	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							<a href="{{ path('app_web_config_index') }}">Үндсэн тохиргоонууд</a>
						</li>

						<li class="breadcrumb-item active" aria-current="page">
							Засах
						</li>
					</ol>
				</nav>
			</div>

			{% include 'layout/flash.html.twig' %}

			{{ form_start(configForm) }}

			<div class="form-group">
				{{ form_row(configForm.colorCode) }}
			</div>

			<div class="form-group">
				{{ form_row(configForm.backgroundColor) }}
			</div>

			<div class="form-group">
				{{ form_row(configForm.transparentImageFile) }}
				<a href="{{ asset("uploads/image/" ~ configForm.vars.value.getTransparentImage() ) }}" target="_blank" rel="noopener noreferrer">Зураг харах</a>
			</div>
			<div class="form-group">
				{{ form_row(configForm.coverImageFile) }}
				<a href="{{ asset("uploads/image/" ~ configForm.vars.value.getCoverImage() ) }}" target="_blank" rel="noopener noreferrer">Зураг харах</a>
			</div>

			<div class="form-group">
				{{ form_row(configForm.sloganImageFile) }}
				<a href="{{ asset("uploads/image/" ~ configForm.vars.value.getSloganImage() ) }}" target="_blank" rel="noopener noreferrer">Зураг харах</a>
			</div>
			
			<div class="form-group">
				{{ form_row(configForm.contactImageFile) }}
				<a href="{{ asset("uploads/image/" ~ configForm.vars.value.getContactImage() ) }}" target="_blank" rel="noopener noreferrer">Зураг харах</a>
			</div>

			<div class="form-group">
				{{ form_row(configForm.mnSloganText) }}
			</div>

			<div class="form-group">
				{{ form_row(configForm.enSloganText) }}
			</div>

			<div class="form-group">
				{{ form_row(configForm.cnSloganText) }}
			</div>
			
			<div class="form-group">
				{{ form_row(configForm.mnFooterText) }}
			</div>
			
			<div class="form-group">
				{{ form_row(configForm.enFooterText) }}
			</div>
			
			<div class="form-group">
				{{ form_row(configForm.cnFooterText) }}
			</div>


			{{ form_end(configForm) }}

		</div>
	</div>

{% endblock %}
