{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_web_config_index') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							Үндсэн тохиргоонууд
						</li>
					</ol>
				</nav>
			</div>
			<br>

			{% include 'layout/flash.html.twig' %}

			<div class="table-responsive">
				<table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Цэс арын өнгө</th>
							<th>Цэс текстийн өнгө</th>
							<th>Ил тод хэсгийн зураг</th>
							<th>Уриа үг</th>
							<th>Динамик хуудасны зураг</th>
							<th>#</th>
						</tr>
					</thead>
					<tbody>
						{% for configForm in configForms %}
							<tr>
								<td>{{ configForm.backgroundColor}}</td>
								<td>{{ configForm.colorCode}}</td>
								<td style="width: 100px; height: auto;"><img src="{{ asset("uploads/image/" ~ configForm.transparentImage) }}" class="img-fluid" alt="transparent Image"></td>
								<td style="width: 100px; height: auto;"><img src="{{ asset("uploads/image/" ~ configForm.sloganImage) }}" class="img-fluid" alt="slogan Image"></td>
								<td style="width: 100px; height: auto;"><img src="{{ asset("uploads/image/" ~ configForm.coverImage) }}" class="img-fluid" alt="cover Image"></td>
								<td>
									<a href="{{ path('app_web_config_edit', {'id' : configForm.id}) }}" class="btn btn-primary btn-sm">
										<i class="fas fa-edit"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</div>
{% endblock %}
