{% extends 'base.html.twig' %}


{% block stylesheets %}
	<style>
		.ab-text {
			border-style: solid;
			background-color: #F8F9F9;
			padding: 15px;
			border-width: 1px;
			border-color: #000;
		}
		label {
			color: #000;
		}
	</style>
{% endblock %}
{% block title %}AboutUs
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							Бидний тухай
						</li>
					</ol>
				</nav>
			</div>
			<br>

			{% include 'layout/flash.html.twig' %}

			<div class="container">
				{% for aboutUs in items %}

					<div class="main-body">
						<div class="row gutters-sm">
							<div class="col-md-4 mb-3">
								<div class="card" style="width: 100%">
									<div class="card-body">
										<div class="d-flex flex-column align-items-center text-center">
											<img src={{ asset("uploads/image/" ~ aboutUs.imageUrl) }} alt="Abou us" class="rounded-circle" width="150">
										</div>


									</div>
								</div>
							</div>
							<div class="col-md-8">
								<div class="card mb-3">
									<div class="card-body">

										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Алсын хараа(Монгол)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.mnVision}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Алсын хараа(Англи)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.enVision}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Алсын хараа(Хятад)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.cnVision}}
											</div>
										</div>
									</div>
								</div>


							</div>


							<div class="col-md-12">
								<div class="card mb-3">
									<div class="card-body">
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Тайлбар(Монгол)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.mnDescription}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Тайлбар(Англи)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.cnDescription}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Тайлбар(Хятад)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.mnDescription}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Эрхэм зорилго(Монгол)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.mnPrinciples}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Эрхэм зорилго(Англи)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.enPrinciples}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Эрхэм зорилго(Хятад)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.cnPrinciples}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Үнэт зүйл(Монгол)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.mnValue}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Үнэт зүйл(Англи)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.enValue}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Үнэт зүйл(Хятад)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.cnValue}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Стратегийн зорилго(Монгол)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.mnStrategyPurpose}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Стратегийн зорилго(Англи)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.enStrategyPurpose}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Стратегийн зорилго(Хятад)</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.cnStrategyPurpose}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Ашиглалтын тусгай зөвшөөрөл</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.firsNumber}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Хайгуулын тусгай зөвшөөрөл</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.secondNumber}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Нэгдлийн компаниуд</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.thirdNumber}}
											</div>
										</div>
										<hr>
										<div class="row">
											<div class="col-sm-3">
												<h6 class="mb-0">Нийт ажилчид</h6>
											</div>
											<div class="col-sm-9 text-secondary">
												{{aboutUs.fourthNumber}}
											</div>
										</div>


									</div>
								</div>


							</div>
							<div class="row">
								<div class="col-md-12 text-center">
									<a class="btn btn-info" href="{{ path('app_about_us_edit', {'id' : aboutUs.id}) }}">Edit</a>
								</div>
							</div>
						</div>

					</div>
				{% endfor %}

			</div>


		</div>

	</div>
{% endblock %}
