{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							<a>Мэдээ мэдээлэл</a>
						</li>
					</ol>
				</nav>
			</div>

			<br>


			<div class="d-flex">
				<form method="GET" class="d-none d-sm-inline-block form-inline mr-auto  my-md-0  navbar-search">
					<div class="input-group">
						<input type="text" class="form-control bg-light border-0 small mr-2" name="search" id="search" placeholder="Гарчигаар хайх..." aria-label="Search" aria-describedby="basic-addon2" value="{{ searchTerm }}">
						<input type="date" class="form-control bg-light border-0 small" name="date" id="date" aria-label="Search" aria-describedby="basic-addon2" value="{{ searchDate }}">


						<div class="input-group-append">
							<button class="btn btn-primary" type="submit">
								<i class="fas fa-search fa-sm"></i>
							</button>
						</div>
					</div>

				</form>


				<div>
					<a href="{{ path('app_news_create') }}" class="btn btn-primary btn-sm">
						+ Шинээр нэмэх</a>
				</div>
			</div>


			<br>
			<br>


			{% include 'layout/flash.html.twig' %}

			<div class="table-responsive">
				<table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>№</th>
							<th>Гарчиг(Монгол)</th>
							<th>Үүсгэсэн огноо</th>
							<th>Thumbnail зураг</th>
							<th>Унших хэсгийн зураг</th>
							<th>Онцгой</th>
							<th>Төлөв</th>
							<th>Явц</th>
							<th>Агуулгууд</th>
							<th>#</th>
						</tr>
					</thead>
					<tbody>
						{% for n in news %}
							<tr>
								<td>{{ n.id }}</td>
								<td>{{ n.mnTitle }}</td>
								<td>{{ n.createdAt|date('Y-m-d') }}</td>
								<td style="width: 100px; height: auto;"><img src="{{ asset("uploads/image/" ~ n.imageUrl) }}" class="img-fluid" alt="Thumbnail Image"></td>
								<td style="width: 100px; height: auto;"><img src="{{ asset("uploads/image/" ~ n.bodyImageUrl) }}" class="img-fluid" alt="detail Image"></td>
								<td>
									{% if n.isSpecial == true %}
										<b style="color: red">Онцгой</b>
									{% else %}
										<b style="color:  darkgreen">энгийн</b>
									{% endif %}
								</td>
								<td>
									{% if n.active == true %}
										<b style="color: darkgreen">Идэвхитэй</b>
									{% else %}
										<b style="color: red">Идэвхигүй</b>
									{% endif %}
								</td>
								<td style="display: flex">
									{% if n.processType == 'CREATED' and is_granted('ROLE_NEWS_ADMIN')  %}
										<a href="{{ path('app_news_punlish', {'id' : n.id}) }}" id="editButton" class="btn btn-success btn-sm mx-1">
											publish
										</a>
									{% elseif n.processType == 'PUBLISHED' and is_granted('ROLE_NEWS_ADMIN')  %}
										<a href="{{ path('app_news_unpunlish', {'id' : n.id}) }}" id="editButton" class="btn btn-secondary btn-sm mx-1">
											unpublish
										</a>
									{% endif %}
									<a href="{{frontBaseUrl}}mn/news/{{n.id}}" target="_blank" id="editButton" class="btn btn-success btn-sm">
										Харах
									</a>
								</td>
								<td>
									<a href="{{ path('app_news_contents', {'id' : n.id}) }}" class="btn btn-primary btn-sm">
										Агуулга харах
									</a>
								</td>
								<td>
									<a href="{{ path('app_news_edit', {'id' : n.id}) }}" class="btn btn-primary btn-sm">
										<i class="fas fa-edit"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% if news|length > 0 %}
				{% include 'layout/pagination.html.twig' %}
			{% endif %}
		</div>

	</div>

	{# <script>document.getElementById('editButton').addEventListener('click', function () {
																																																																																																							
																																																																																																							fetch('your_api_endpoint', {
																																																																																																							method: 'PUT',
																																																																																																							headers: {
																																																																																																							'Content-Type': 'application/json'
																																																																																																							},
																																																																																																							body: JSON.stringify(
																																																																																																							{key1: 'value1', key2: 'value2'}
																																																																																																							)
																																																																																																							}).then(response => {
																																																																																																							if (!response.ok) {
																																																																																																							throw new Error('Network response was not ok');
																																																																																																							}
																																																																																																							return response.json();
																																																																																																							}).then(data => {
																																																																																																							console.log(data);
																																																																																																							}).catch(error => {
																																																																																																							console.error('There was a problem with the fetch operation:', error);
																																																																																																							});
																																																																																																							});</script> #}
{% endblock %}
