{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}
{% block body %}


	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							<a href="{{ path('app_employee_index') }}">Хамт олон</a>
						</li>

						<li class="breadcrumb-item active" aria-current="page">
							Засах
						</li>
					</ol>
				</nav>
			</div>

			{% include 'layout/flash.html.twig' %}

			{{ form_start(employeeForm) }}

			<div class="form-group">
				{{ form_row(employeeForm.name) }}
			</div>

			<div class="form-group">
				{{ form_row(employeeForm.division) }}
			</div>

			<div class="form-group">
				{{ form_row(employeeForm.imageFile) }}
			</div>

			<div class="form-group">
				{{ form_row(employeeForm.email) }}
			</div>

			<div class="form-group">
				{{ form_row(employeeForm.phone) }}
			</div>
			<div class="form-group">
				{{ form_row(employeeForm.department) }}
			</div>

			<div class="form-group">
				{{ form_row(employeeForm.priority) }}
			</div>

			{{ form_end(employeeForm) }}

		</div>
	</div>

{% endblock %}
