{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}

	<div class="display-grid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('app_home') }}">Нүүр хуудас</a>
				</li>

				<li class="breadcrumb-item" href="{{ path('app_video_news_index') }}"  >Видео мэдээлэл</li>

				<li class="breadcrumb-item active" aria-current="page">
					Нэмэх
				</li>
			</ol>
		</nav>
	</div>

	{% include 'layout/flash.html.twig' %}

	{{ form_start(videoNewsForm) }}

	<div class="form-group">
		{{ form_row(videoNewsForm.name) }}
	</div>

	<div class="form-group">
		{{ form_row(videoNewsForm.url) }}
	</div>

	<div class="form-group">
		{{ form_row(videoNewsForm.active) }}
	</div>

	{{ form_end(videoNewsForm) }}</div></div>{% endblock %}
