{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}

{% block body %}

	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							Видео мэдээлэл
						</li>
					</ol>
				</nav>
			</div>

			<div>
				<a href="{{ path('app_video_news_create') }}" class="btn btn-primary btn-sm">
					+ Шинээр нэмэх</a>
			</div>

			<br>

			{% include 'layout/flash.html.twig' %}

			<div class="table-responsive">
				<table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>№</th>
							<th>Гарчиг</th>
							<th>Төлөв</th>
							<th>Линк(youtube)</th>
							<th>#</th>
						</tr>
					</thead>
					<tbody>
						{% for video in videos %}
							<tr>
								<td>{{ video.id }}</td>
								<td>{{ video.name }}</td>
								<td>
									{% if video.active == true %}
										<b style="color: darkgreen">Идэвхитэй</b>
									{% else %}
										<b style="color: red">Идэвхигүй</b>
									{% endif %}
								</td>
								<td>{{ video.url}}</td>
								<td>
									<a href="{{ path('app_video_news_edit', {'id' : video.id}) }}" class="btn btn-primary btn-sm">
										<i class="fas fa-edit"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</tr>
			</tbody>
		</tbody>
	</table>
</div></div></div>{% endblock %}
