{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}
{% block body %}


	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							<a href="{{ path('app_news_index') }}">Мэдээ мэдээлэл</a>
						</li>

						{% if newsId %}
							<li class="breadcrumb-item">
								<a href="{{ path('app_news_contents',{'id':newsId}) }}">Агуулгууд</a>
							</li>
						{% else %}
							<li class="breadcrumb-item">
								<a href="{{ path('app_content_slide_index') }}">Мэдээ SLIDE</a>
							</li>
						{% endif %}

						<li class="breadcrumb-item active" aria-current="page">
							Засах
						</li>
					</ol>
				</nav>
			</div>

			{% include 'layout/flash.html.twig' %}

			{{ form_start(form) }}
			<div class="form-group">
				{{ form_row(form.name) }}
			</div>
			<div class="form-group">
				{{ form_row(form.file, {'attr': {'multiple': 'multiple'}}) }}
			</div>
			<div class="form-group">
				{{ form_row(form.priority) }}
			</div>
			<div class="form-group">
				{{ form_row(form.active) }}
			</div>
			<div class="form-group" id="relatedNews">
				{{ form_row(form.News) }}
			</div>

			{{ form_end(form) }}

		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script>
		document.addEventListener("DOMContentLoaded", function () {
	var newsId = {{ newsId }}+"";
if (newsId ) {
document.getElementById('relatedNews').style.display = 'none';
}
});
	</script>
{% endblock %}
