{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}
{% block stylesheets %}
<style>
.customInput{
	margin-bottom:1rem;
}
.customInput input{
    display: inline;
    width: 50%;
	margin-left:1rem;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.noDot{
	 list-style-type: none;
}
</style>
{% endblock %}

{% block body %}

	<div class="display-grid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('app_home') }}">Нүүр хуудас</a>
				</li>

				<li class="breadcrumb-item">
					<a href="{{ path('app_development_history_index') }}">Хөгжлийн түүх</a>
				</li>

				<li class="breadcrumb-item active" aria-current="page">
					Нэмэх
				</li>
			</ol>
		</nav>
	</div>

	<br>


	<br>

	{% include 'layout/flash.html.twig' %}

	{{ form_start(myForm) }}

	<div class="form-group">
		{{ form_row(myForm.year) }}
	</div>


	<div class="form-group">
		{{ form_row(myForm.priority) }}
	</div>


	<div class="form-group">
		<ul class="tags unstyled noDot" data-prototype="{{ form_widget(myForm.data.vars.prototype)|e }}">
			Жагсаалт
		</ul>
	</div>

	{{ form_end(myForm) }}
{% endblock %}

{% block scripts %}
	<script>
		function addTagForm($collectionHolder, $newLinkLi) { // Get the data-prototype explained earlier
var prototype = $collectionHolder.data('prototype');


// get the new index
var index = $collectionHolder.data('index');

// Replace '__name__' in the prototype's HTML to
// instead be a number based on how many items we have
var newForm = prototype.replace(/__name__/g, index);

// increase the index with one for the next item
$collectionHolder.data('index', index + 1);

// Display the form in the page in an li, before the "Add a tag" link li
var $newFormLi = $('<li ></li>').append(newForm);
addTagFormDeleteLink($newFormLi);
$newLinkLi.before($newFormLi);
}
function addTagFormDeleteLink($tagFormLi) {
var $removeFormA = $('<a href="#" style="color:red">устгах</a>');
$tagFormLi.append($removeFormA);

$removeFormA.on('click', function (e) { // prevent the link from creating a "#" on the URL
e.preventDefault();

// remove the li for the tag form
$tagFormLi.remove();
});
}

document.addEventListener("DOMContentLoaded", function () {
var $collectionHolder;

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_tag_link link-success">Нэмэх</a>');
var $newLinkLi = $('<li ></li>').append($addTagLink);


jQuery(document).ready(function () { // Get the ul that holds the collection of tags
$collectionHolder = $('ul.tags');

$collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });

// add the "add a tag" anchor and li to the tags ul
$collectionHolder.append($newLinkLi);

// count the current form inputs we have (e.g. 2), use that as the new
// index when inserting a new item (e.g. 2)
$collectionHolder.data('index', $collectionHolder.find(':input').length);

$addTagLink.on('click', function (e) { // prevent the link from creating a "#" on the URL
e.preventDefault();

// add a new tag form (see next code block)
addTagForm($collectionHolder, $newLinkLi);
});
});
});
	</script>
{% endblock %}
