{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}
{% block stylesheets %}
	<style>
		.customInput {
			margin-bottom: 1rem;
		}
		.customInput input {
			display: inline;
			width: 50%;
			margin-left: 1rem;
			height: calc(1.5em + 0.75rem + 2px);
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #6e707e;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #d1d3e2;
			border-radius: 0.35rem;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}
		.noDot {
			list-style-type: none;
		}
	</style>
{% endblock %}

{% block body %}

	<div class="display-grid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{ path('app_home') }}">Нүүр хуудас</a>
				</li>

				<li class="breadcrumb-item">
					<a href="{{ path('app_development_history_index') }}">Хөгжлийн түүх</a>
				</li>

				<li class="breadcrumb-item active" aria-current="page">
					Нэмэх
				</li>
			</ol>
		</nav>
	</div>

	<br>


	<br>

	{% include 'layout/flash.html.twig' %}

	{{ form_start(myForm) }}

	<div class="form-group">
		{{ form_row(myForm.year) }}
	</div>


	<div class="form-group">
		{{ form_row(myForm.priority) }}
	</div>


	<div class="form-group">
		<h5>Монгол мэдээлэл</h5>
		<ul class="tags unstyled noDot" data-prototype="{{ form_widget(myForm.data.vars.prototype)|e }}">
			Жагсаалт
		</ul>
	</div>

	<div class="form-group">
		<h5>Англи мэдээлэл</h5>
		<ul class="tags unstyled noDot" data-prototype="{{ form_widget(myForm.enData.vars.prototype)|e }}">
			Англи жагсаалт
		</ul>
	</div>

	{{ form_end(myForm) }}
{% endblock %}

{% block scripts %}
	<script>
		function addTagForm($collectionHolder, $newLinkLi) {
var prototype = $collectionHolder.data('prototype');
var index = $collectionHolder.data('index');
var newForm = prototype.replace(/__name__/g, index);
$collectionHolder.data('index', index + 1);

var $newFormLi = $('<li></li>').append(newForm);
addTagFormDeleteLink($newFormLi);
$newLinkLi.before($newFormLi);
}

function addTagFormDeleteLink($tagFormLi) {
var $removeFormA = $('<a href="#" style="color:red; margin-left: 10px;">устгах</a>');
$tagFormLi.append($removeFormA);

$removeFormA.on('click', function (e) {
e.preventDefault();
$tagFormLi.remove();
});
}

document.addEventListener("DOMContentLoaded", function () {
function setupTagCollection(collectionSelector) {
var $collectionHolder = $(collectionSelector);
var $addTagLink = $('<a href="#" class="add_tag_link link-success">Нэмэх</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

$collectionHolder.find('li').each(function () {
addTagFormDeleteLink($(this));
});

$collectionHolder.append($newLinkLi);
$collectionHolder.data('index', $collectionHolder.find(':input').length);

$addTagLink.on('click', function (e) {
e.preventDefault();
addTagForm($collectionHolder, $newLinkLi);
});
}

// Монгол мэдээлэлд тохируулах
setupTagCollection('ul.tags[data-prototype]:first');

// Англи мэдээлэлд тохируулах
setupTagCollection('ul.tags[data-prototype]:last');
});
	</script>
{% endblock %}
