{% extends 'base.html.twig' %}

{% block title %}
	{{ page_title }}
{% endblock %}
{% block stylesheets %}
	<style>
		.customInput {
			margin-bottom: 1rem;
		}
		.customInput input {
			display: inline;
			width: 50%;
			margin-left: 1rem;
			height: calc(1.5em + 0.75rem + 2px);
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #6e707e;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #d1d3e2;
			border-radius: 0.35rem;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		}
		.noDot {
			list-style-type: none;
		}
	</style>
{% endblock %}
{% block body %}

	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							<a href="{{ path('app_development_history_index') }}">Хөгжлийн түүх</a>
						</li>

						<li class="breadcrumb-item active" aria-current="page">
							Засах
						</li>
					</ol>
				</nav>
			</div>

			{% include 'layout/flash.html.twig' %}

			{{ form_start(myForm) }}

			<div class="form-group">
				{{ form_row(myForm.year) }}
			</div>

			<div class="form-group">
				{{ form_row(myForm.priority) }}
			</div>

			<div class="form-group">
				<h5>Монгол мэдээлэл</h5>
				<ul class="tags mongolian" data-prototype="{{ form_widget(myForm.data.vars.prototype)|e }}">
					{% for item in myForm.data %}
						<li>
							{{ form_errors(item) }}
							{{ form_widget(item) }}
							<a href="#" class="remove-tag">Устгах</a>
						</li>
					{% endfor %}
				</ul>
				<a href="#" class="add-tag" data-target=".tags.mongolian">Нэмэх(Монгол)</a>
			</div>

			<div class="form-group">
				<h5>Англи мэдээлэл</h5>
				<ul class="tags english" data-prototype="{{ form_widget(myForm.enData.vars.prototype)|e }}">
					{% for item in myForm.enData %}
						<li>
							{{ form_errors(item) }}
							{{ form_widget(item) }}
							<a href="#" class="remove-tag">Устгах</a>
						</li>
					{% endfor %}
				</ul>
				<a href="#" class="add-tag" data-target=".tags.english">Нэмэх(Англи)</a>
			</div>
			{{ form_end(myForm) }}

		</div>
	</div>

{% endblock %}


{% block scripts %}
	<script>
		function addTagForm($collectionHolder) {
var prototype = $collectionHolder.data('prototype');
var index = $collectionHolder.children('li').length;
var newForm = prototype.replace(/__name__/g, index);
var $newFormLi = $('<li></li>').append(newForm);
$newFormLi.append('<a href="#" class="remove-tag">Устгах</a>');
$collectionHolder.append($newFormLi);
}

$(document).ready(function () {
$('.add-tag').on('click', function (e) {
e.preventDefault();
var target = $(this).data('target');
var $collectionHolder = $(target);

// `data-prototype`-г зөв оноосон эсэхийг шалгах
if (! $collectionHolder.data('prototype')) {
console.error("Error: data-prototype attribute is missing for", target);
return;
}

addTagForm($collectionHolder);
});

$(document).on('click', '.remove-tag', function (e) {
e.preventDefault();
$(this).closest('li').remove();
});
});
	</script>
{% endblock %}
