{% extends 'base.html.twig' %}

{% block title %}Strategy
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="display-grid">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="{{ path('app_home') }}">Нүүр хуудас</a>
						</li>

						<li class="breadcrumb-item">
							Стратеги
						</li>
					</ol>
				</nav>
			</div>

			<div>
				<a href="{{ path('app_strategy_create') }}" class="btn btn-primary btn-sm">
					+ Шинээр нэмэх</a>
			</div>
			<br>

			{% include 'layout/flash.html.twig' %}

			<div class="table-responsive">
				<table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Гарчиг(Монгол)</th>
							<th>Гарчиг(Англи)</th>
							<th>Гарчиг(Хятад)</th>
							<th>#</th>
						</tr>
					</thead>
					<tbody>
						{% for item in strategys %}
							<tr>
								<td>{{ item.mnTitle}}</td>
								<td>{{ item.enTitle}}</td>
								<td>{{ item.cnTitle}}</td>
								<td>
									<a href="{{ path('app_strategy_edit', {'id' : item.id}) }}" class="btn btn-primary btn-sm">
										<i class="fas fa-edit"></i>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>
			{% if strategys|length > 0 %}
				{% include 'layout/pagination.html.twig' %}
			{% endif %}
		</div>
	</div>
{% endblock %}
